@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  position: relative;
  min-height: 100vh;
}

input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}